Flask==2.3.3
Flask-Cors==4.0.0

python-telegram-bot==13.15
python-dotenv==1.0.1

twisted==24.3.0
service-identity==24.1.0
pyOpenSSL==24.1.0
cryptography==42.0.8

requests==2.32.3

SQLAlchemy==2.0.23
psycopg2-binary==2.9.9

protobuf==3.20.1
ctrader-open-api @ git+https://github.com/spotware/OpenApiPy.git

numpy==1.26.4
pandas==2.2.2
pytz==2024.1
scikit-learn==1.7.2
joblib==1.4.2
lightgbm==4.4.0

./vendor/pandas_ta_openbb-0.4.22.tar.gz