# Основні залежності
Flask==2.3.3
gunicorn==21.2.0
python-telegram-bot==13.15
python-dotenv==1.0.1
gevent

# Аналітика
pandas==2.1.4
pandas-ta

# cTrader (Встановлення останньої версії з GitHub)
ctrader-open-api @ git+https://github.com/spotware/open-api-py.git

# Залежності
protobuf>=4.21.0
requests
cachetools
Flask-Cors
service-identity